body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
}

.loader {    
	background-color: #EAEEF4;
    text-align: center;
}

.loader img {
	width: 40px;
}

a, a:focus, a:active {
	outline: none !important;
}

.ui-icon-plus:after, .ui-icon-minus:after {
	display: none;
}

.ui-collapsible-heading-toggle {
	text-overflow: initial;
  	overflow: auto;
  	white-space: normal;
 }

.ui-page .ui-header {
    background: #000099;
}

.header__title {
	color:white;font-weight:lighter;text-shadow: 2px 2px #000099;
}