 /* CSS pentru pagina sedinte-guvern.html */
 .main-sedinte h1 {
 	margin: 0 auto;
 	text-align: center;
 }

 .container-sedinte h2 {
	margin: 20px auto 5px;
	padding: 5px 10px;
	text-align: left;
	background-color: #009900 ;
	color: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }


 .container-sedinte__item__container h3{
 	padding: 5px 0;
 }

 .container-sedinte__item__container div {
 	margin-top: -5px !important;
 	margin-bottom: 5px !important;
 }