 /* CSS pentru pagina index.html */
 .main-stiri h1 {
 	margin: 0 auto;
 	text-align: center;
 	color: #2f598c;
 	font-size: 1.5em;
 }

 .main-stiri {
 	background-color: #EAEEF4;
 }

 .container-stiri h2 {
	margin: 30px auto 10px;
	padding: 5px 10px;
	text-align: left;
	font-size: 1.2em;
 	color: #2f598c;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }

.container-stiri__item__container {
	box-shadow: 1px 1px 2px #888888;
    background-color: #ffffff;
    margin-bottom: 20px !important;	
}
 .container-stiri__item__container h3{
 	padding: 5px 0;
 }

 .container-stiri__item__container__content a {
 	margin-bottom: 10px;
 	text-decoration: none; 
    width: 100%;
    font-size: 1em;
    clear: both;
 	color: #2f598c;
 	cursor: pointer;
 }
 .container-stiri__item__container__content {
 	font-size: 1.2em;
 	margin-top: 20px;
 	line-height: 150%;
 }

 .container-stiri__item__container__data {
 	margin-top: 10px;
 	color: #666666;
 	font-size: 0.85em;
 }


.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
 	margin-top: -5px !important;
 	margin-bottom: 5px !important;
 }
 .ui-collapsible-heading-toggle {
 	background-color: #ffffff !important;
 	border: 0 !important;
 	text-overflow: initial;
    overflow: auto;
    white-space: normal;
    font-weight: 500 !important;
    line-height: 150%;
    font-size: 1.2em;
 }
 .image_wrapper img {
 	width: 100%;
 	max-width: 364px;
 	margin: 5px auto 10px;
 	display: block;
 }

 .image_wrapper {
 	text-align: center;
 }

 .ui-collapsible-heading-toggle {
 	padding: 10px 15px !important;
 }