 /* CSS pentru pagina index.html */
 .main-stiri h1 {
 	margin: 0 auto;
 	text-align: center;
 }

 .container-stiri h2 {
	margin: 20px auto 5px;
	padding: 5px 10px;
	text-align: left;
	color: #666666;
	font-size: 1.3em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }


 .container-stiri__item__container h3{
 	padding: 5px 0;
 }

 .container-stiri__item__container__content a {
 	margin-bottom: 10px;
 	text-decoration: none; 
    width: 100%;
    clear: both;
 }


.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
 	margin-top: -5px !important;
 	margin-bottom: 5px !important;
 }
 .image_wrapper img {
 	width: 100%;
 	max-width: 364px;
 	margin: 5px auto;
 }

 .image_wrapper {
 	text-align: center;
 }