body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
}
.ui-content{
		 background-color: #E6EDF4;
 }

.loader {    
	background-color: #E6EDF4;
    text-align: center;
}

.loader img {
	width: 40px;
}

a, a:focus, a:active {
	outline: none !important;
}

.social_share_button {
	background: none;
	border: none;
	margin-bottom: 10px
}

.ui-icon-plus:after, .ui-icon-minus:after {
	display: none;
}

.ui-page .ui-header {
    background: #00488E;
}
.ui-header {
    padding: 10px 0;
    line-height: 100%;
}

.header__title {
	color:white;font-weight:lighter;text-shadow: 2px 2px #00488E;
}

.ui-page .ui-header .ui-btn
{
	background-image: url("../images/imagine_meniu.png");
	border: 0;
	background-color: transparent !important;
	width:25px;
	height:21px;
	margin-top: -1px;
	background-size: contain;
	background-repeat: no-repeat;
	bottom:15px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;    
	margin-top: 8px;
    margin-left: 10px;
}
.ui-btn-icon-left:after
{
	display: none;
}

.ui-panel {
	background-color: #00488E;
}

.ui-btn{ 
	background-color: #004180 !important;
	border-color: #003A72 !important;
}

.ui-collapsible-heading-toggle {
	text-overflow: initial;
  	overflow: auto;
  	white-space: normal;
  	background-color: #ffffff !important;
  	border: 0 !important;
  	color: #333 !important;
 }

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .image_wrapper {
        width: 30%;
        float: left;
        margin-right: 20px;
    }
}

