body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
}

.loader {    
	background-color: #E6E6F5;
    text-align: center;
}

.loader img {
	width: 40px;
}

a, a:focus, a:active {
	outline: none !important;
}

.ui-icon-plus:after, .ui-icon-minus:after {
	display: none;
}

.ui-collapsible-heading-toggle {
	text-overflow: initial;
  	overflow: auto;
  	white-space: normal;
 }

.ui-page .ui-header {
    background: #000099;
}

.header__title {
	color:white;font-weight:lighter;text-shadow: 2px 2px #000099;
}
.ui-panel {
	background-color: #000099;
}

.ui-btn{ 
	background-color: #3333AD !important;
	border-color: #00007A !important;
}

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .image_wrapper {
        width: 30%;
        float: left;
        margin-right: 20px;
    }
}