.main-institutii {
  background-color: #E6EDF4;
 }



.ui-collapsible-heading-toggle {
  padding: 0;
  overflow: hidden;
}
.nume{
 /* position: relative;
      right: 29.5px;
      top:2px;*/
      border:2px solid ;
      border-color: #000099;
      background-color: #336495;
      color:white;
      border-radius: 5px;
      font-weight: lighter;
      text-shadow: 2px 2px #000099;
      float: left;
      width: 100%;
      padding: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /*border-right-width:100px ;*/
    }
	
.resize{
	margin-left:10px; 
margin-right:10px; 
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  img.resize{
    width: 20%;
  }

  .functie {
    width: 80%;
    font-size: 1.3em;
  }
}