
 .main-ministri {
  background-color: #E6EDF4;
 }

img.resize{
/*  position: relative;
  top: 5px;
   width:120px; 
   right: 30px;*/
   float: left;
   width: 50%;  
   padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.functie {
/*    position: absolute;
    bottom: 100px;
    left: 150px;*/
    width: 50% ;
    float: left;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-collapsible-heading-toggle {
  padding: 0;
  overflow: hidden;
}
.nume{
 /* position: relative;
      right: 29.5px;
      top:2px;*/
      border:2px solid ;
      border-color: #000099;
      background-color: #000099;
      color:white;
      border-radius: 5px;
      font-weight: lighter;
      text-shadow: 2px 2px #000099;
      float: left;
      width: 100%;
      padding: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /*border-right-width:100px ;*/
    }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  img.resize{
    width: 20%;
  }

  .functie {
    width: 80%;
    font-size: 1.3em;
  }
}